#solitaire {
  --border-radius: 12px;
}

#play-area {
  --waste-card-offset-1-px: 70px;
  --waste-card-offset-1-vw: 5vw;
  --waste-card-offset-2-px: 35px;
  --waste-card-offset-2-vw: 2.5vw;
  display: grid;
  grid-template-rows: var(--card-height) 1fr;
  gap: 30px;
  height: calc(100vh - 20px);
  justify-content: space-between;
  margin: 10px auto;
}

#play-area.rtl {
  --waste-card-offset-1-px: -70px;
  --waste-card-offset-1-vw: -5vw;
  --waste-card-offset-2-px: -35px;
  --waste-card-offset-2-vw: -2.5vw;
  direction: rtl;
}

#foundation,
#stock,
#tableau {
  display: flex;
}

#foundation {
  grid-column: 4/8;
  justify-content: space-between;
}

/* Slight opacity shift to all direct children when the menu is visible.
   Also disable pointer events on the content so any clicks first close the menus. */
#play-area.menu-open > div {
  filter: opacity(80%);
  pointer-events: none;
}

#stock {
  grid-column: 1/1;
}

#waste {
  grid-column: 2/3;
}

#waste.anim>div {
  transition: transform .5s;
}

#waste.offset-two>div:nth-last-child(1) {
  transform: translateX(min(var(--waste-card-offset-1-vw), var(--waste-card-offset-1-px)));
}

#waste.offset-one>div:nth-last-child(1),
#waste.offset-two>div:nth-last-child(2) {
  transform: translateX(min(var(--waste-card-offset-2-vw), var(--waste-card-offset-2-px)));
}

#tableau {
  grid-column: 1/8;
  grid-row: 2;
  height: fit-content;
  justify-content: space-between;
  width: 100%;
}

.card-pile {
  border: 1px solid #333;
  border-radius: var(--border-radius);
  box-shadow: inset 1px 1px 1px 0 rgba(255, 255, 255, 0.25), inset -1px -1px 1px 0 rgba(0, 0, 0, 0.25);
  background-color: transparent;
  height: var(--card-height);
  position: relative;
  width: var(--card-width);
}

@media (min-width: 890px) {
  #play-area {
    --card-height: 150px;
    --card-width: 100px;
    max-width: 900px;
    width: 80%;
  }
}

@media (max-width: 889px) {
  #play-area {
    --card-height: 75px;
    --card-width: 50px;
    --border-radius: 6px;
    max-width: 500px;
    width: 95%;
  }
}