#menu {
    --border-radius: 8px;
    background: rgba(0, 0, 0, .7);
    bottom: -146px;
    left: 0;
    position: fixed;
    transition: bottom .5s;
    width: 100%;
    z-index: 1000;
}

#menu.visible {
    bottom: 0;
}

#menu-control {
    background-color: rgba(0, 0, 0, .5);
    cursor: pointer;
    display: flex;
    height: 24px;
    justify-content: center;
}

#menu-control button {
    background-color: transparent;
    filter: brightness(0.7);
    transition: transform .5s;
    transform: rotate(180deg);
    width: 100%;
}

#menu:not(.visible) #menu-control button {
    transform: unset;
}

#menu-control button:hover,
#menu-control button:active {
    filter: brightness(1);
}

#primary-menu {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 900px;
    padding: 15px 30px;
}

#submenu {
    background-color: var(--color-primary);
    border: 2px solid var(--color-on-primary);
    border-radius: var(--border-radius);
    bottom: 145px;
    color: white;
    max-height: 400px;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    width: var(--submenu-width);
    z-index: 1001;
}

#submenu::after {
    border-left: var(--submenu-icon-size) solid transparent;
    border-right: var(--submenu-icon-size) solid transparent;
    border-top: var(--submenu-icon-size) solid var(--color-on-primary);
    bottom: 130px;
    content: "";
    height: 0;
    left: var(--submenu-icon-pos);
    position: fixed;
    width: 0;
    z-index: 1002;
}

#submenu.list {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#submenu.help {
    padding: 10px;
}

#submenu.help h2 {
    margin: 0;
}

#submenu::-webkit-scrollbar {
    width: 8px;
}

#submenu::-webkit-scrollbar-track {
    background: transparent;
}

#submenu::-webkit-scrollbar-thumb {
    border-radius: var(--border-radius);
    background: rgba(0, 0, 0, .2);
}

#submenu::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, .5);
}

#submenu.help {
    overflow-y: scroll;
}

#reset-stats {
    position: absolute;
    left: 6px;
}

#group-submenu {
    font-size: 18px;
    overflow-y: scroll;
}

#group-submenu>div {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 40px;
    margin: 0;
    padding: 0 10px;
}

#group-submenu>div:nth-child(2) {
    margin-top: 40px;
}

#group-submenu .group-header {
    background-color: var(--color-primary);
    position: fixed;
    width: calc(var(--submenu-width) - 10px);
}

#group-submenu .group-section-header {
    background-color: var(--color-primary-dark);
    justify-content: left;
}

#group-submenu .group-section {
    background-color: var(--color-primary);
    justify-content: space-between;
}

button {
    border: 0;
    border-radius: var(--border-radius);
    color: var(--color-on-primary);
    cursor: pointer;
    font-size: 24px;
    margin: 0;
}

button.primary {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: 100px;
}

button.primary svg {
    font-size: 80px;
}

button:disabled {
    cursor: unset;
    opacity: .5;
}

button.secondary {
    align-items: center;
    background-color: transparent;
    display: flex;
    font-size: 20px;
    height: 40px;
}

button:not(:disabled):hover,
button:not(:disabled):active {
    background-color: rgba(0, 0, 0, .1);
}

@media (max-width: 889px) {
    #menu {
        bottom: -60px;
    }

    #primary-menu {
        flex-wrap: nowrap;
        justify-content: center;
        padding: 8px 30px;
    }

    button.primary {
        font-size: 16px;
    }

    button.primary svg {
        font-size: 24px;
    }
}