.card {
    background-color: white;
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);
    color: black;
    height: var(--card-height);
    overflow: hidden;
    position: absolute;
    width: var(--card-width);
}

.card img {
    height: var(--card-height);
    width: var(--card-width);
}

.diamonds,
.hearts {
    color: red;
}

.face,
.face span,
.faceup .back {
    display: none;
}

.faceup .face {
    display: block;
}

@media (max-width: 965px) {
    .card {
        border-radius: 6px;
    }
}

@media (max-width: 450px) {

    .card.faceup .face {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 3px;
    }

    .card .face span {
        display: block;
        font-size: 7vw;
        font-weight: bold;
    }

    .card .face img {
        display: none;
    }
}