.card {
    color: black;
    filter: drop-shadow(1px 1px 1px black);
    height: var(--card-height);
    perspective: 1000px;
    position: absolute;
    width: var(--card-width);
}

.card img {
    height: var(--card-height);
    width: var(--card-width);
}

.card-inner {
    background-color: white;
    border-radius: var(--border-radius);
    height: 100%;
    position: relative;
    text-align: center;
    width: 100%;
}

.card[draggable="true"] {
    cursor: grab;
}

/* Card flipping animation when turned face up */
.card.faceup .card-inner {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.back,
.face {
    /* Safari */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid black;
    border-radius: var(--border-radius);
    overflow: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
}

.face {
    background-color: white;
    display: flex;
    transform: rotateY(180deg);
}

.face span {
    display: none;
}

.diamonds,
.hearts {
    color: red;
}

@media (max-width: 450px) {

    .face img {
        display: none;
    }

    .face span {
        display: block;
        font-size: 5vw;
        font-weight: bold;
        position: absolute;
    }

    .face span.rank {
        margin: 0 3px;
    }

    .face span.suit {
        font-size: 9vw;
        transform: translate(50%, 25%);
    }
}