.debug {
    align-items: center;
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
}

#menu {
    align-items: center;
    background: rgba(0, 0, 0, .5);
    bottom: -250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    left: 0;
    padding: 15px 0;
    position: fixed;
    transition: bottom .5s;
    width: 100%;
}

#menu.visible {
    bottom: 0;
}

#newgame {
    background-image: url("/public/icons/play.svg");
}

#redo {
    background-image: url("/public/icons/arrow.svg");
}

#undo {
    background-image: url("/public/icons/reverse-arrow.svg");
}

#help {
    background-image: url("/public/icons/question.svg");
}

#submenu {
    background-color: green;
    border: 2px solid white;
    border-radius: 8px;
    bottom: 145px;
    color: white;
    max-height: 400px;
    max-width: 45%;
    overflow: hidden;
    padding: 10px 20px;
    position: absolute;
}

#submenu::-webkit-scrollbar {
    width: 8px;
}

#submenu::-webkit-scrollbar-track {
    background: transparent;
}

#submenu::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .2);
}

#submenu::-webkit-scrollbar-thumb:hover {
    background:  rgba(0, 0, 0, .5);;
}

#submenu.help {
    overflow-y: scroll;
}


button {
    background: transparent no-repeat center top;
    border: 0;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    height: 100px;
    margin: 0;
    padding-top: 80px;
    width: 100px;
}

button:hover,
button:active {
    background-color: rgba(0, 0, 0, .1);
}