#playarea {
  --card-height: 175px;
  --card-width: 125px;
  display: grid;
  grid-template-rows: var(--card-height) 1fr;
  grid-gap: 30px;
  height: calc(100vh - 20px);
  justify-content: space-between;
  margin: 10px auto;
  width: 95%;
}

#foundation,
#stock,
#tableau {
  display: flex;
}

#foundation {
  grid-column: 4/8;
  justify-content: space-between;
}

#stock {
  grid-column: 1/1;
}

#waste {
  grid-column: 2/3;
}

#tableau {
  grid-column: 1/8;
  grid-row: 2;
  height: fit-content;
  justify-content: space-between;
  width: 100%;
}

/* Offset the cards in the tableau piles */
#tableau .cardpile .card:nth-child(2) {
  transform: translateY(5vh);
}
#tableau .cardpile .card:nth-child(3) {
  transform: translateY(10vh);
}
#tableau .cardpile .card:nth-child(4) {
  transform: translateY(15vh);
}
#tableau .cardpile .card:nth-child(5) {
  transform: translateY(20vh);
}
#tableau .cardpile .card:nth-child(6) {
  transform: translateY(25vh);
}
#tableau .cardpile .card:nth-child(7) {
  transform: translateY(30vh);
}

#timer {
  bottom: 20px;
  color: yellow;
  filter: drop-shadow(1px 1px 1px black);
  font-size: 22px;
  position: fixed;
}

.cardpile {
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: inset 1px 1px 1px 0 rgba(255,255,255,0.5), inset -1px -1px 1px 0 rgba(0,0,0,0.5);
  height: var(--card-height);
  position: relative;
  width: var(--card-width);
}

@media (max-width: 965px) {
  #playarea {
    --card-width: calc(100vw / 8);
    --card-height: calc(var(--card-width) * 1.4);
  }

  .cardpile {
    border-radius: 6px;
  }
}