#play-area {
  --border-radius: 12px;
  --card-height: 175px;
  --card-width: 125px;
  display: grid;
  grid-template-rows: var(--card-height) 1fr;
  grid-gap: 30px;
  height: calc(100vh - 20px);
  justify-content: space-between;
  margin: 10px auto;
  max-width: 1100px;
  width: 95%;
}

#foundation,
#stock,
#tableau {
  display: flex;
}

#foundation {
  grid-column: 4/8;
  justify-content: space-between;
}

#stock {
  grid-column: 1/1;
}

#waste {
  grid-column: 2/3;
}

#waste > div {
  transition: transform .5s;
}

#waste.offset-two > div:nth-last-child(1) {
  transform: translatex(6vw);
}

#waste.offset-one > div:nth-last-child(1), 
#waste.offset-two > div:nth-last-child(2) {
  transform: translatex(3vw);
}

#tableau {
  grid-column: 1/8;
  grid-row: 2;
  height: fit-content;
  justify-content: space-between;
  width: 100%;
}

#timer {
  bottom: 20px;
  color: yellow;
  filter: drop-shadow(1px 1px 1px black);
  font-size: 22px;
  position: fixed;
}

.card-pile {
  border: 1px solid black;
  border-radius: var(--border-radius);
  box-shadow: inset 1px 1px 1px 0 rgba(255,255,255,0.5), inset -1px -1px 1px 0 rgba(0,0,0,0.5);
  height: var(--card-height);
  position: relative;
  width: var(--card-width);
}

@media (max-width: 965px) {
  #play-area {
    --card-width: calc(100vw / 8);
    --card-height: calc(var(--card-width) * 1.4);
  }

  .card-pile {
    --border-radius: 6px;
  }
}